[2016-02-15 04:55] lim0606 opened #1 "Inquiry about the result with the uploaded pre-trained models"
Hi, this is Jaehyun Lim

First of all, thank you for sharing your work :)

I tried to run the posenets with the uploaded pretrained models by using the provided caffe version of yours.

However, the performance (median error) of the posenets with following settings and the pretrained models does not match with the reported performance in your paper.
 - non-bayesian
 - single center crop

I got
- 7

[2016-02-15 13:13] alexgkendall commented on #1
Hi Jaehyun,

I've just looked into this and found there was a bug in the dataset creation script - sorry! I've just pushed an update to the code to fix this. Essentially there was a discrepancy between how scipy and opencv import image data. For my PoseNet work I used opencv, so I've changed the script to reflect this.

You will need to:
1. get the latest code
2. create new LMDB datasets using the

[2016-02-16 00:53] lim0606 commented on #1
Hi, @alexgkendall

Thank you for your kind response!

I re-converted lmdb data set as you commented, and it works really well :)

For non-bayesian and single center crop inference, I got
- 1.922 m  and  2.698 deg (median error) for KingsCollege
- 2.311 m  and  2.695 deg for OldHospital
- 1.462 m  and  4.039 deg for ShopFacade
- 2.651 m  and  4.244 deg for StMarysChurch
- 3.129 m  and  2.898 deg fo

[2016-02-16 10:12] alexgkendall commented on #1
Awesome!

[2016-02-16 10:12] #1 closed

[2016-02-22 01:22] lim0606 opened #2 "Trials to reproduce the results in the paper using SGD"
Hi, this is Jaehyun Lim

I have a problems in learning rate scheduling to reproduce the results on the paper using sgd (as in the paper) (see https://github.com/lim0606/caffe-posenet-googlenet).

As far as I understood from the paper, it seems like that the model is trained until 100 epoch (or about to 100 epoch), i.e about 16 iterations for King's College dataset; however, it was very short for c

[2016-02-22 11:51] alexgkendall commented on #2
Yes, typically the model converges after approx 30,000 iterations.

How close were your results to the paper for the other datasets? Also did you change the values of Beta? If you look at Fig 2 in the PoseNet paper, the model is quite dependant on a good choice of Beta.

Cheers,
Alex

[2016-02-23 07:09] lim0606 commented on #2
@alexgkendall

Thank you for your reply!
1. I used the models in the link (http://mi.eng.cam.ac.uk/~agk34/resources/PoseNet.zip); thus, the betas are set as follows;
   - King's College: 500
   - Old Hospital: 1000
   - Shop Facade: 100
   - St Mary's Church: 250
   - Street: Median error  2000
2. Results
   - King's College: Median error  1.88411343098 m  and  2.33481308286 degrees
   - Old Hospi

[2016-02-23 09:09] alexgkendall commented on #2
Hi Jaehyun,

Sounds good to me then - are you also initialising your weights from a pretrained model on the Places dataset? (get weights here: https://github.com/BVLC/caffe/wiki/Model-Zoo)

Alex

[2016-02-23 11:52] lim0606 commented on #2
Hi Alex,

Thank you for reply :)

I did use the pretrained model for the googlenet.

Best regards,

Jaehyun Lim

[2016-02-25 00:41] liruihao opened #3 "Test failed for the reason that "Check failed: slice_axis_ < num_axes (1 vs. 1) slice_dim out of range.""
Hi, I am Ruihao, I try to test the posenet, but encounter the problem as below.

I run "python ./posenet/scripts/test_posenet.py --model posenet/models/train_posenet.prototxt --weights posenet/models/weights_kingscollege.caffemodel --iter 346" as introduced in your readme.txt.

I0225 00:34:30.682186 13179 layer_factory.hpp:77] Creating layer data
I0225 00:34:30.682914 13179 net.cpp:106] Creating L

[2016-02-25 01:21] aghagol opened #4 "Meanfile missing?"
I can't seem to find the 'meanfile' file that is required in posenet/scripts/test_bayesian_posenet.py. Is that something left for us to compute or you would be so kind to share yours? :)

[2016-02-25 07:46] alexgkendall commented on #3
It looks like you haven't quite set up the LMDB database correctly? The data layer should be outputting two blobs. Your model does output the image, 1x3x224x224. However the second top blob of the datalayer is of size 1. It should be a pose label which is a vector of size 7.

How did you form the dataset, and did you use the python script provided? `caffe-posenet/posenet/scripts/create_posenet_lmd

[2016-02-25 07:50] alexgkendall commented on #4
You can easily compute it with `build/tools/compute_image_mean input_lmdb_database/ output.binaryproto`

See the caffe documentation for more details.

Thanks!

[2016-02-25 08:03] liruihao commented on #3
Thank you very much for your reply.

I use "python ./posenet/scripts/create_posenet_lmdb_dataset.py" to create the lmdb. And all look fine. There are 1223 images in train lmdb and 346 images in test lmdb. Besides, I put the kingscollege_data in home/Documents, should I put it in "···/caffe-posenet/" file and create the lmdb file?

Regards

[2016-02-25 08:10] aghagol commented on #4
Will do. Thanks for the quick reply.

[2016-02-25 09:09] alexgkendall commented on #3
Okay, the other thing that could be going wrong is that the python test script is using the standard version of Caffe (if you have this compiled on your machine). This would cause it to not correctly load the pose label. Have you modified line 13 of `test_posenet.py` to the caffe-posenet directory?

[2016-02-25 09:09] #4 closed

[2016-02-25 09:37] liruihao commented on #3
I have both compiled original caffe and your caffe-posenet in my computer. Before I tested posenet, I have already modified line 13 of test_posenet.py to the caffe-posenet directory. Besides, I moved the original images of KingsCollege to caffe-posenet and create lmdb file for it. The same problem occurred.

Regards

[2016-02-25 10:41] liruihao commented on #3
I think it is the conflict between caffe and caffe-posenet. After I delete the build file and ./buildrelease file in caffe. I ran "python ./posenet/scripts/create_posenet_lmdb_dataset.py" in caffe-posenet workspace(where is /home/rlig/workspace/caffe-posenet).  it gave errors below:

Traceback (most recent call last):
  File "./posenet/scripts/create_posenet_lmdb_dataset.py", line 7, in <module>

[2016-02-25 10:58] liruihao commented on #3
Finally the problem was solved, you are right, it is the conflict between caffe and caffe-posenet.

When I compile caffe-posenet for pycaffe, I forget to "export PYTHONPATH=/home/xxx/caffe-posenet/python:$PYTHONPATH" to "~/.bashrc", so even I have already changed caffe_root in **create_posenet_lmdb_dataset.py** and **test_posenet.py**,  the caffe python default file is in ".../caffe" not ".../caff

[2016-02-25 11:10] alexgkendall commented on #3
Fantastic, thanks!

[2016-02-25 11:10] #3 closed

[2016-02-25 17:59] alykhantejani opened #5 "Transferring weights from bvlc_googlenet"
Hi @alexgkendall,

Firstly, great work!

I am trying to reproduce your results (from scratch), I've just had a quick look at the prototxt files and the names of the layers are different from the bvlc_googlenet prototxt. It is my understanding that with caffe you can transfer weights to another model if the layers have the same name.

How do you "finetune" a bvlc_googlenet model using your prototxt

[2016-02-25 21:44] alexgkendall commented on #5
Thanks Aly!

I think I used the pretrained model from Princeton.. If you scroll further down the [Caffe model zoo](https://github.com/BVLC/caffe/wiki/Model-Zoo) page you'll find it. I used the one pretrained on the Places dataset. You can download it here:
http://vision.princeton.edu/pvt/GoogLeNet/

[2016-02-26 11:20] alykhantejani commented on #5
Thanks @alexgkendall!

[2016-02-26 11:58] #5 closed

[2016-03-04 16:44] alykhantejani opened #6 "Where does normalization of the output quaternion happen?"
Hi @alexgkendall

I've been looking through the `train_posenet.prototxt` and I can't see where the normalization of the predicted quaternion (from `cls3_fc_pose_wpqr`) happens. I see that the output of `cls3_fc_pose_wpqr` and the label go into the Euclidean loss (with weight `beta`), but in the paper equation `2` shows that the output quaternion is made a unit vector.

Am I missing something here?

[2016-03-05 17:09] alexgkendall commented on #6
Hey Aly,

That's correct - this functionality is not implemented in this Caffe code. This is something which I have in my Torch implementation of PoseNet. In practice, I have found it not to make a significant difference in the network's performance so I have omitted it here. Sorry for the confusion.

You can see in the evaluation scripts that I normalise the resulting quaternion vector for testin

[2016-03-05 17:09] #6 closed

[2016-03-05 21:17] alykhantejani commented on #6
Hi @alexgkendall,

Thanks for the clarification. Is your torch implementation public yet (with/without pre-trained models)?

Cheers,
Aly

[2016-03-06 09:31] alexgkendall commented on #6
No, not at this stage.

[2016-03-08 17:15] alykhantejani commented on #2
Hi @lim0606 - did you manage to reproduce results with SGD?

Thanks,
Aly

[2016-03-09 12:00] lim0606 commented on #2
@alykhantejani

Yes and no...

I did only for King's College data (see https://github.com/lim0606/caffe-posenet-googlenet)

I think I have to run grid search to tune hyperparameters, i.e. stepsize, max iterations, gamma (a parameter of learning rate policy), and initial learning rate, for other data, but I couldn't have time to do it...

[2016-03-09 13:11] alykhantejani commented on #2
@lim0606 Thanks for sharing the results!

[2016-03-09 16:34] alykhantejani commented on #2
Hi @alexgkendall,

In the original paper it states

[code]

But the solver prototxt file (`solver_posenet.prototxt`) uses adagrad and base learning rate of `1e-3` with no decay. Is there a reason for this, did you find it trained faster/gave better results? Is this how the pre-trained models provided were trained?

Thanks,
Aly

[2016-03-10 08:16] liruihao commented on #3
Hi Alex,

I sent an email to you yesterday, but I do not know whether or not you received it.

I want to try the PoseNet within indoor scenes like Chess, Fire, Heads, Office, Pumpkin, RedKitchen and Stairs.  But after I downloaded it from Jamie Shotton's webpage, I found that there are no "train.txt" and "test.txt" files. So may I get them from you if possible?

Kind Regards,

[2016-03-10 14:48] alexgkendall commented on #3
Hey @liruihao, here you go:
https://github.com/alexgkendall/caffe-posenet/tree/master/posenet/7Scenes_PoseNet_TrainVal

[2016-03-10 15:33] liruihao commented on #3
Thank you very much for sharing!

Regards,

Ruihao

[2016-05-03 21:31] lidaweironaldo commented on #2
Hi,

Has anyone managed to achieve the error reported in the paper for "street". I tried both the sgd and adagrad methods, but got errors about 10 times the value reported in the paper.

Best,
Dawei

[2016-05-06 08:46] wujian752 opened #7 "Split used in your paper for evaluation of Heads"
Hi,

It seems that you use different split with  [Scene Coordinate Regression Forests for Camera Relocalization in RGB-D Images](http://research.microsoft.com/apps/pubs/default.aspx?id=184826) for Heads.

As described in Heads' TrainSplit.txt and TestSplit.txt,
 - TrainSet: sequence2
 - TestSet: sequence1

However, it seems that you use a contrasting split with it according to the given [model](ht

[2016-05-10 06:49] keyboardless commented on #3
@liruihao    Hi, I have the same problem like you. I have fix the problem in '.bashrc'.   I still have trouble when running "python ./posenet/scripts/test_posenet.py ...", it print out
I0510 14:28:10.281239 14648 data_transformer.cpp:25] Loading mean file from: ../imagemean.binaryproto
F0510 14:28:10.281237 14651 db_lmdb.hpp:14] Check failed: mdb_status == 0 (2 vs. 0) No such file or directory
**\

[2016-05-10 09:53] liruihao commented on #3
Hi, you should generate the mean file yourself. You can use "compute_image_mean" in "./build/tools/" to realize it.

Good luck.

[2016-05-27 08:17] 385693162 opened #8 "How to predict one picture？"
Hello,

I just want to predict an image and get its localization results rather than 300 images of prediction error in the two test python file, what should I do?

Anyone has a script?I would appreciate your help.Thank you.

[2016-07-06 16:03] colegleason opened #9 "deploy.prototxt"
Hi! Do you happen to have a deploy.prototxt built for Posenet yet?

[2016-07-07 16:18] alexgkendall commented on #9
Hey, what do you need it for? If you'd just like to run PoseNet for inference then you just need to remove the loss layers and change the data input layer to suit.

Cheers,
Alex

[2016-07-14 19:48] colegleason commented on #9
Hey, I just wanted to be able to run one image through the network. I made one here, like you said: https://gist.github.com/colegleason/7d4b946d69d1d188bba90299c8dc046a

[2016-07-14 19:48] #9 closed

[2016-07-25 17:56] aghagol opened #10 "Original GoogleNet `train_val.prototxt`"
Hi. Could you please share the original `train_val.prototxt` for GoogleNet that was modified to create PoseNet?

The difference in layer labels (between Caffe's GoogleNet prototxt and PoseNet prototxt) make it very difficult to compare GoogleNet with PoseNet to see what additions/modifications were made.

For example, in PoseNet prototxt there's a layer "icp1_reduction1" and the corresponding laye

[2016-08-18 16:05] aghagol commented on #10
Reading through the previous issues, I found this link for downloading the GoogleNet prototxt without PoseNet modifications: [http://vision.princeton.edu/pvt/GoogLeNet/](http://vision.princeton.edu/pvt/GoogLeNet/)

[2016-08-18 16:05] #10 closed

[2016-08-18 16:09] aghagol commented on #8
You must use a deploy prototxt. See this [https://github.com/alexgkendall/caffe-posenet/issues/9](https://github.com/alexgkendall/caffe-posenet/issues/9)

[2016-08-20 05:11] ChenhanXmu commented on #8
Thanks!

[2016-08-20 05:11] #8 closed

[2016-08-23 07:53] xunkaixin opened #11 "'draw_net.py' can not draw the 'train_posenet.prototxt' net"
'draw_net.py'  can not draw the  'train_posenet.prototxt'  net .   the result is a blank image.

[2016-08-31 17:51] emqiongwu commented on #3
I had the same problem, both imagemean and the conflict between caffe and caffe-posenet, when I tried to run the program. Thanks for sharing the solution here!

[2016-09-20 10:23] GaryWon opened #12 "A training problem about " Iteration 40, loss = 1.#QNAN""
Hi, I have some issue concerning the python wrapper in caffe-windows. For some reason, I should transplant the code and run in windows. After some toss, the script "create_posenet_lmdb_dataset.py" and "test_posenet.py" can run pass. Since "KingsCollege_test_lmdb" and "KingsCollege_train_lmdb" are created and the output of  "test_posenet.py" are as follow:
`...`
`Iteration:   344   Error XYZ (m):

[2016-10-24 08:52] Soledad89 commented on #4
@alexgkendall, Hi, I got the same error when using the command python test_posenet.py --model your_model.prototxt --weights your_weights.caffemodel --iter size_of_dataset, I got the output as below showing that mean file  could not be found, I'v computed the mean file using the caffe tools and I have put the mean file in the higher level directory of the test_posenet.py file:

I1024 16:38:49.71879

[2017-01-09 22:06] itayguy commented on #11
u should transform the file to the new format, using "./upgrade_net_proto_text.bin /path/to/older_proto_file /path/to/newer_ouput_proto_file"

[2017-01-16 11:02] itayguy opened #13 ".."

[2017-01-17 15:02] itayguy commented on #13
.

[2017-01-17 15:03] #13 closed

[2017-03-26 07:41] AidaSamri opened #14 "where does normalization for wpqr happen?"
Hi,
the loss term in the paper is:

![loss_posenet](https://cloud.githubusercontent.com/assets/13074825/24329459/03f07376-121d-11e7-862e-ec1f9cf96305.png)

but i can't find where the q normalization happens in the code, can someone please point it out?

[2017-03-29 05:54] AidaSamri commented on #14
@alexgkendall would you help me with this.

[2017-04-07 09:54] janosszabo commented on #2
Hi @alexgkendall,
I also tried to train Street with both sgd and adagrad, but I also could not reproduce the accuracy reported in the article (4m as far as i remember). Mine was also around 20-30m. But your pretrained caffemodel worked fine. Also when I trained Shopfacade it learned allright.
Isn´t it possible that something is missing from this repo or some prototxt file is outdated?
Thanks,
Jano

[2017-04-08 18:39] eeshandhekane commented on #6
Hi @alexgkendall !

Is the Torch implementation of PoseNet public yet?

[2017-04-10 14:54] janosszabo commented on #2
Some more details:
I used train_street.prototxt from your models zip file, along with the lmdb database I made using the script included in posenet/scripts (create_posenet_lmdb_dataset.py), from the contents of Street.zip, and I used posenet/models/solver_posenet.prototxt from the repo as the solver script. I initialized the GoogLeNet weights with the model pretrained on Places, available from her

[2017-04-19 14:42] wujian752 commented on #14
In fact, the normalization is not used in training and it seems that removing normalization do not decrease the performance.

[2017-04-19 14:43] wujian752 commented on #14
@AidaSamri In fact, the normalization is not used in training (different with the paper) and it seems that removing normalization do not decrease the performance.

[2017-04-19 17:15] AidaSamri commented on #14
@wujian752 Thanks for the clarification.

[2017-04-19 17:15] #14 closed

[2017-04-22 20:05] GrumpyZhou opened #15 "clang: error: linker command failed with exit code 1 during 'make all'"
I have caffe installed on my Macbook air already and now I tried to install caffe-posenet. However, I get this error:
`CXX/LD -o .build_release/tools/caffe.bin
clang: warning: argument unused during compilation: '-pthread'
Undefined symbols for architecture x86_64:
  "caffe::Net<float>::Net(std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> > const&, caffe::Phase,

[2017-04-27 14:08] hannastellmach opened #16 "Repoducing reported errors on 7 scenes dataset with pre-trained models"
Hi,
I tried to reproduce the reported errors on the chess dataset using the pre-trained models.
However, the performance does not match with the reported performance in your paper.

First, I created an lmdb dataset using the script `caffe-posenet/posenet/scripts/create_posenet_lmdb_dataset.py`. For the training set I used the dataset chess_train.txt and for the test set I used the dataset chess_va

[2017-04-28 12:33] TheRed002 opened #17 "Hardware Used for training"
I recently came across posenet and tried to experiment with it. I modified the original architecture of posenet and now my input layer size is 1x100x224x224x3 where 1 is the batch size and 100 are the frames. Actually I have implemented lstm version of posenet. Now I have tried to run training on my own data, first on gtx750 and then on quadro k1200 4 GB gpu with tensorflow backend for keras(i am

[2017-05-16 07:16] duongnamduong commented on #2
Hi @alexgkendall ,
I have a question, I try re-train model using your dataset "KingsCollege". I configured my solver as follows:

net: "./model1/train_val_kingscollege_googlenet.prototxt"
test_initialization: true
test_iter: 11
test_interval: 300
base_lr: 1e-5
lr_policy: "step"
gamma: 0.9
stepsize: 4000
display: 20
average_loss: 20
max_iter: 80000
solver_type: ADAGRAD
weight_decay: 0.0002
snapshot

[2017-07-28 02:10] HyperLethalVector opened #18 "Creating and Training a custom dataset."
Hi,

I'm a little new to Caffe. (So sorry for the newbie questions)

How can I train a new dataset using your posenet architecture?
I wish to benchmark PoseNet against several other localization systems, but this is a little confusing for me.
(I can easily assume that using weights from another dataset will lead to terrible results).

Can you provide a quick guide of how you created your weights a

[2017-08-01 17:28] ghost commented on #17
I think the authors mentioned the GPU they used in the paper as NVidia Titan Black. By the way, so can change the c++ code in caffe/caffe-posenet and print out the required memory and other information to understand your problem in a clear way.

[2017-08-10 08:31] onion-liu opened #19 "Issues about the reconstruction of the scene using VisualSFM"
Hi, Alex,
I try to use VisualSFM to reconstruct the model of the scene with the "KingsCollege" pictures. But the result  is not good, especially the "focal length" in ".nvm" file, and it ranges from 800 to about 7000, not 1668 as your "reconstruction.nvm" shows.
Did you use special configuration with VisualSFM?
Thanks for your time.

[2017-08-14 16:19] psjn opened #20 "Check failed: datum_width == data_mean_.width() (455 vs. 256)"
error msg -
" data_transformer.cpp:64] Check failed: datum_width == data_mean_.width() (455 vs. 256) "

installed caffe successfully, while running "test_posenet.py" above mentioned error message displayed.

plz help me to solve this issue...

please find the attached screenshot of error msg
![screenshot from 2017-08-08 10-15-39](https://user-images.githubusercontent.com/31012267/29280845-6a917652

[2017-09-01 16:31] Chen0403 commented on #19
Hi liu,
Have you figure out the reason of the problem? I'm working on it now and I met the same problem.
Thx.

[2017-09-01 16:58] onion-liu commented on #19
@Chen0403 Hi, Chen,
I find that there is an option at SfM->More Functions->Use Shared Calibration, and the result seems better. But I don't know whether it is the right way.

[2017-09-02 11:33] Chen0403 commented on #19
@onion-liu Thanks! I will try it.

[2017-09-30 07:46] NYing opened #21 "About the caffe-posenet-master"
Hi,this is Ying Nie,
I have some problems about the caffe-posenet-master you offer.What's the different between the standard version of Caffe and the posenet version of Caffe you offer?And why would it caused to load the label incorrectly?Could you please to tell me what changes have you made to the standard version of Caffe?I'm looking forward for your reply.
Best regards,
Ying Nie

[2017-10-05 14:34] inckagan opened #22 "Handling with gray scale images?"

[2017-11-12 00:01] Henry-Faull commented on #4
I'm getting the exact same problem as @Soledad89 - I'm trying to run test_posenet.py and the imagemean.binaryproto file can't be found. It's been created and put in the directory above test_posenet.py. Was this ever resolved?

[2017-12-01 08:50] esdgdhln commented on #21
Hi,do you know how to transfer standard version to posenet for now?which files shall I change ?
thank you!

[2017-12-01 08:51] esdgdhln commented on #21
兄弟，问题解决了吗？

[2017-12-20 14:46] kelly1024 commented on #21
需要用作者的caffe 版本，data layer 可能做了修改

[2018-01-03 07:48] lengly opened #23 "Upload own image doesn't work fine"
I try to use google map to select a position(nearly same with the 8 images in demo) and take a screen cut. But when I upload such image to the website, it can't return any result. If I take a screen cut on the demo images, and then submit it to the website, it works fine.

Why this demo can't response to the images from google map?

[2018-02-01 13:36] npiasco commented on #16
It seems that there was an error during the relative angle error computation before the ICCV paper submission:
https://github.com/alexgkendall/caffe-posenet/commit/82de1236b5506f0b392fe20e10bae1e1d1960208
See this commit, a factor 2 was omitted

[2018-04-20 10:17] ming-c commented on #2
@janosszabo Though it's been more than one year, but could you pls advise me that did your model of scene 'Street' coverage to PoseNet paper's result?

[2018-05-22 02:22] Duke02 commented on #12
I would think it's mostly because your code is not based on the code that Posenet uses, which is different from either version of Caffe (Microsoft's or the original). It's discussed [here](https://groups.google.com/forum/#!topic/caffe-users/N5ZkdoMXiJQ) in the original Caffe google groups. Hope this helps! (That is if this is even still relevant to you after 2 years. Oh well. Might help someone el

[2018-05-25 09:06] BoltzmannBlitz commented on #19
Hi Alex, Hi Liu and Chen,
I'm not experienced with 3d reconstruction things, but it seems strange to me that the Z coordinates vary too much, e.g., in KingsCollege it's -2.738007 ~ 3.122726, in StMarysChurch -18.054653 ~ 58.878734. Is there any possible explanation?

[2018-06-11 13:24] muma1018 opened #24 "Wrong image pose in Great Court train data set"
There seems to be an error in the Trinity Great Court training data file. Downlaoded [here](https://www.repository.cam.ac.uk/handle/1810/251291).
"dataset_train.txt" line 1470 says:

seq5/frame00297.png 3117382476.410000 -137672612.290000 -1240777531.790000 0.308042 -0.508641 0.232939 0.769503

The position components are not correct.

[2018-07-13 12:02] debaditya-unimelb opened #25 "saliency map generation"
I could not find a way to adapt CNNSaliencyMap (Deep Inside Convolutional Networks) to give the outputs on PoseNet. The main problem is the multiple outputs, and there is not much information available on how to perform a backward pass using multiple outputs. Any suggestion will be highly appreciated.

[2018-07-20 09:30] biueo opened #26 "Check failed:slice_dim out of range"
the dataset I used is kingscollege, but these errors below occured.
I0720 17:26:07.043119  1349 net.cpp:84] Creating Layer slice_label
I0720 17:26:07.043123  1349 net.cpp:406] slice_label <- label
I0720 17:26:07.043129  1349 net.cpp:380] slice_label -> label_xyz
I0720 17:26:07.043138  1349 net.cpp:380] slice_label -> label_wpqr
F0720 17:26:07.043145  1349 slice_layer.cpp:33] Check failed: slice_ax

[2018-09-01 06:08] TroiiF commented on #21
似乎作者的caffe版本只支持cudnn4和cuda7.5，不支持cuda8.0
It seems that the caffe the writer use only supports cudnn4 and cuda7.5 but not cuda8.0.

[2018-12-12 05:33] slamjie opened #27 "how to train PoseNet with my own dateset?"
Sorry for bothering.
I want to use PoseNet in my robot indoors , but when I collect 1000 images， I don't know how to set the arguments in the solver_posenet.prototxt.

My prototxt like this :
[code]
but when I begin to train ,
`I1212 12:48:09.793629  8576 solver.cpp:237] Iteration 0, loss = 584.759`
the loss begin at 584.759 and always stay at 125. Does it mean PoseNet train successfully ?
Would y

[2019-01-07 06:55] xuwei1245645564 opened #28 "An error converting a file in LMDB format to an average file"
./create_posenet_mean.sh
Computing image mean...
F0107 14:47:22.450881 10521 db_lmdb.hpp:14] Check failed: mdb_status == 0 (2 vs. 0) No such file or directory
*** Check failure stack trace: ***
    @     0x7fb2cf50a5cd  google::LogMessage::Fail()
    @     0x7fb2cf50c433  google::LogMessage::SendToLog()
    @     0x7fb2cf50a15b  google::LogMessage::Flush()
    @     0x7fb2cf50ce1e  google::LogMess

[2019-01-07 08:08] DRAhmadFaraz opened #29 "ImportError: No module named _caffe"
@alexgkendall

in directory "**/home/ahmad/Desktop/caffe-posenet/posenet/scripts**"
I type "**python create_posenet_lmdb_dataset.py**"

with Change lines 1, 11 & 12 to the appropriate directories

i got this error.

Regards

_Traceback (most recent call last):
  File "create_posenet_lmdb_dataset.py", line 7, in <module>
    import caffe
  File "/home/ahmad/Desktop/caffe-posenet/python/caffe/__init

[2019-01-14 12:16] DRAhmadFaraz commented on #29
@alexgkendall

[2019-01-28 10:13] DRAhmadFaraz opened #30 "Loading mean file from: ../imagemean.binaryproto Check failed: mdb_status == 0 (2 vs. 0) No such file or directory"
Respected Sir,
According to your instructions I have successfully installed Caffe from your repository.
When I Run this command "Python create_posenet_lmdb_dataset.py" It shiows like this.

![screenshot from 2019-01-28 10-09-06](https://user-images.githubusercontent.com/38114191/51829107-d0a6f000-22e4-11e9-9d2b-f3171e491d65.png)

After that When i use this command "python test_posenet.py --model t

[2019-01-28 10:14] #29 closed

[2019-02-25 16:18] FangGet opened #31 "A question about the median error in paper"
Hi, this is Fang
I have a question about the median translation and rotation error stated in your paper and calculated at your code. In your test_posenet_protext, you set batch size to 40, but at your test_posenet.py, your compute median error use network output, but the compute procedure involves np.linalg.norm and np.sum , but never set axis property, so I'd like to know if you compute median er

[2019-02-25 17:01] DRAhmadFaraz commented on #31
@FangGet I can help you to resolve it, Have you installed this code successfully.?

[2019-02-25 17:01] DRAhmadFaraz commented on #28
@xuwei1245645564 Dear Have you solved this issue or still u faced it.?

[2019-02-25 17:05] DRAhmadFaraz commented on #4
@Henry-Faull @Soledad89  @aghagol  @alexgkendall

Dear all,

According to your instructions I have successfully installed Caffe from your repository.
When I Run this command "Python create_posenet_lmdb_dataset.py" It shiows like this.

![screenshot from 2019-01-28 10-09-06](https://user-images.githubusercontent.com/38114191/51829107-d0a6f000-22e4-11e9-9d2b-f3171e491d65.png)

After that When i use

[2019-02-25 17:09] DRAhmadFaraz commented on #12
@Duke02 Dear

According to your instructions I have successfully installed Caffe from your repository.
When I Run this command "Python create_posenet_lmdb_dataset.py" It shiows like this.

![screenshot from 2019-01-28 10-09-06](https://user-images.githubusercontent.com/38114191/51829107-d0a6f000-22e4-11e9-9d2b-f3171e491d65.png)

After that When i use this command "python test_posenet.py --model tr

[2019-02-25 17:10] DRAhmadFaraz commented on #28
@xuwei1245645564 Dear,

Dear all,

According to your instructions I have successfully installed Caffe from your repository.
When I Run this command "Python create_posenet_lmdb_dataset.py" It shiows like this.

![screenshot from 2019-01-28 10-09-06](https://user-images.githubusercontent.com/38114191/51829107-d0a6f000-22e4-11e9-9d2b-f3171e491d65.png)

After that When i use this command "python test_

[2019-02-25 17:10] DRAhmadFaraz commented on #23
@lengly

According to your instructions I have successfully installed Caffe from your repository.
When I Run this command "Python create_posenet_lmdb_dataset.py" It shiows like this.

![screenshot from 2019-01-28 10-09-06](https://user-images.githubusercontent.com/38114191/51829107-d0a6f000-22e4-11e9-9d2b-f3171e491d65.png)

After that When i use this command "python test_posenet.py --model train_k

[2019-02-25 17:12] DRAhmadFaraz commented on #3
Dear @liruihao @keyboardless

According to caffee instructions I have successfully installed Caffe from this repository.
When I Run this command "Python create_posenet_lmdb_dataset.py" It shiows like this.

![screenshot from 2019-01-28 10-09-06](https://user-images.githubusercontent.com/38114191/51829107-d0a6f000-22e4-11e9-9d2b-f3171e491d65.png)

After that When i use this command "python test_pos

[2019-02-26 01:56] FangGet commented on #31
Thanks a lot. I'm not using this code to do the evaluation, I'm going to evaluate my own network like posenet,  and just want to know for posenet or similiar paper, which criterion or batch size they use to do the evaluation, As for this code , different batch size may output different median translation error and rotation error. @DRAhmadFaraz

[2019-02-26 02:25] lengly commented on #23
@DRAhmadFaraz
you can see caffe-posenet/tools/compute_image_mean.cpp
after build it, maybe you can run with some command like this:
[code]

[2019-02-27 04:05] FangGet commented on #31
It's done. My mistake

[2019-02-27 04:05] #31 closed

[2019-03-04 14:29] DRAhmadFaraz commented on #4
@aghagol Have you computed this mean file.?

Regards

[2019-03-04 14:34] DRAhmadFaraz commented on #23
@lengly Thanx a lot for your guidance.
I run this command

sudo /home/ahmad/Desktop/caffe-posenet/.build_release/tools/compute_image_mean /home/ahmad/Desktop/caffe-posenet/posenet/scripts/posenet_dataset_lmdb/ /home/ahmad/Desktop/caffe-posenet/posenet/imagemean.binaryproto

and get a file of "imagemean.binaryproto" at that directory as i mention above.

but when I run this code by using this comma

[2019-03-05 17:30] DRAhmadFaraz commented on #3
@keyboardless

u can use this command. change your directories as perspective.

sudo /home/ahmad/Desktop/caffe-posenet/.build_release/tools/compute_image_mean /home/ahmad/Desktop/caffe-posenet/posenet/scripts/posenet_dataset_lmdb/ /home/ahmad/Desktop/caffe-posenet/posenet/imagemean.binaryproto

where the syntax is first load the compute_image_mean tool <space> input lmdb dataset path  <space> outp

[2019-03-08 14:10] #30 closed

[2019-03-08 14:26] DRAhmadFaraz opened #32 "Notes to Install this Posenet Code"
Proper Installation Guide for this Pose_Net

For Caffe Installation:

Steps:
sudo apt-get update sudo apt-get upgrade
sudo apt-get install libprotobuf-dev libleveldb-dev libsnappy-dev libopencv-dev libhdf5-serial-dev protobuf-compiler
sudo apt-get install --no-install-recommends libboost-all-dev sudo apt-get install libatlas-base-dev
sudo apt-get install libopenblas-dev sudo apt-get install the py

[2019-04-22 09:06] DRAhmadFaraz commented on #27
@slamjie Are you able to train the pose-net on your own custom images.?

[2019-04-22 09:10] DRAhmadFaraz commented on #23
@lengly Are you able to train the pose-net on your own custom images.?

[2019-04-22 09:10] DRAhmadFaraz commented on #18
@HyperLethalVector Are you able to train the pose-net on your own custom images.?

[2019-04-22 09:11] DRAhmadFaraz commented on #7
@wujian752 Are you able to train the pose-net on your own custom images.?

[2019-04-22 23:34] HyperLethalVector commented on #18
Yes after a fair amount of trial and error, and reading a lot of caffe tutorials online.

------
From the software-ronin
Damien Rompapas.

PhD Student.
Nara Institute of Science and Technology
Interactive Media Design Laboratory.
 
Facebook: https://www.facebook.com/ryu.uesugi
Mail: damien.rompapas.dk1@is.naist.jp
Google Mail: hyperlethalvector92@gmail.com
Web:  www.denkikitchen.com

From: Ahmad F

[2019-04-23 22:24] slamjie commented on #27
@DRAhmadFaraz Yes,I have trained PoseNet with my own images successfully. It shows good result for me.

[2019-04-24 09:00] DRAhmadFaraz commented on #27
@slamjie Thanx a lot for replying me, actually I also need to train this pose-net on my own collection of RGB Images so please can you Guide me how to train this code on our own custom RGB images.?

I will be thankful to you.

[2019-04-25 16:05] DRAhmadFaraz commented on #27
@slamjie I am waiting for your kind response.

[2019-04-26 14:23] slamjie commented on #27
@DRAhmadFaraz Sorry to reply you so late. Recently I am busy with graduation matters.
I have reproduced the PoseNet according to the author's instructions.
The only difference is that the training parameters need to be re-adjusted according to the number of images.
Here is my `solver_posenet.prototxt`:

[code]
I got the `training_iter_30000.caffemodel`,then I used `test_posenet.py` to test the Pos

[2019-04-26 16:48] DRAhmadFaraz commented on #27
@slamjie Thanx a lot for helping me, these all steps would be helpful for me.
I have one last question.
Where should I have to put the input images data-set directory path.? in which file.?

further I didnt see the author's instructions for custom images on this repository. If you have such instructions,share its link with me.

I will be thankful to you.
Regards

[2019-04-26 17:06] DRAhmadFaraz commented on #18
@HyperLethalVector Respected Sir, Thanx for replying me,
Can you please guide me how to run this posenet code on our own Custom RGB Images from basic steps.?
I will be so thankful to you.
Best Regards

[2019-04-26 17:55] DRAhmadFaraz commented on #2
@ming-c @janosszabo @lim0606 @alexgkendall @lidaweironaldo

Can some body please guide me how to train this model on custom RGB images from scratch.?

I will be Thankful to you.
Regards

[2019-04-27 01:16] slamjie commented on #27
@DRAhmadFaraz For training the PoseNet, I use the `creat_test_lmdb.py` and `create_train_lmdb_.py` to get the LMDB files.
[code]

Then I use the `create_mean.sh` to get the mean files for train and test data-set.
[code]

 I change the `train_posenet.prototxt` like this:
[code]
These bold text are the path of input images data-set and their mean files. It just lets the model know where the LMDB fil

[2019-04-27 12:34] DRAhmadFaraz commented on #27
@slamjie Thanx a lot, Its all clear for me. and you are so cooperative person I have ever met.
I understand it all.
just had one basic confusion and I am really sorry for such basic question but I am new on caffe.

I want to ask that in my own Custom Images.. All I have is the dataset of RGB images in one directory folder...

so I want to ask that in code of `creat_test_lmdb.py` the line is `datas

[2019-04-27 12:53] slamjie commented on #27
@DRAhmadFaraz   The data in the `train.txt` is a six-degree-of-freedom pose corresponding to your own images.

[2019-04-27 13:45] DRAhmadFaraz commented on #27
Can you guide me how to extract  six-degree-of-freedom pose from a RGB image.?

[2019-04-27 14:11] slamjie commented on #27
@DRAhmadFaraz  The author mentions in the paper that he uses structure from motion (SfM) to get the images and their corresponding poses.
For me, I use a visual positioning device in my school lab. When I get these images from camera, I can get the pose of the camera in real time.

[2019-04-27 15:47] DRAhmadFaraz commented on #27
@slamjie  Thanx a lot. I did all these steps and after `./train.sh` command My code get struct here.
Is it hardware issue or something else as I even reduced the step size to 1.?

![Screenshot from 2019-04-27 20-44-59](https://user-images.githubusercontent.com/38114191/56851883-a5f12580-692d-11e9-979b-2666762800fe.png)

While in `solver_posenet.prototxt` file I did `solver_mode: CPU` from `solver_

[2019-04-27 17:15] DRAhmadFaraz commented on #17
@TheRed002 sorry for bothering you, Well I also get this issue.. "out of memory" as shown.
have you solved this problem.?

![Screenshot from 2019-04-27 20-44-59](https://user-images.githubusercontent.com/38114191/56852826-6c261c00-6939-11e9-95a8-3a1c91e44772.png)

@zhuoruiyang How to configure our device according to it.? I have GTX 940 4GB Nvidia GPU....

[2019-04-27 20:27] DRAhmadFaraz commented on #18
@HyperLethalVector How to get the Landmarks in this format of text file for our own dataset.? as shown

[https://github.com/alexgkendall/caffe-posenet/blob/master/posenet/7Scenes_PoseNet_TrainVal/chess_train.txt](url)

[2019-04-27 22:54] ghost commented on #17
Hi Ahmad,

I think your hardware may not be powerful enough to run the posenet with
the default setting. The best thing you can do with what you have now is to
reduce the batch size, try to reduce the size by half each time and see if
your GPU has sufficient memory for it. When I ran it two years ago, I used
the GeForce 1080 which has 8Gb memory. If reducing the batch size doesn’t
work, I guess yo

[2019-04-28 01:03] slamjie commented on #27
@DRAhmadFaraz This may be caused by memory. My GPU is Nvidia 1080.
You may need to adjust the parameters in the train_posenet.prototxt for your GPU.

[2019-04-28 11:11] DRAhmadFaraz commented on #27
@slamjie Thanx a lot, you helped me alot, I have trained Successfully on "Cambridge Landmarks dataset", Now all I will have to do is to get the` train.txt` a six-degree-of-freedom pose corresponding to my own images.

Do you know any tool which can extract Structure from Motion (SFM), 6-DOF or something like this from a collection of RGB images.?
like in a format given below.

`Visual Landmark Dat

[2019-04-30 12:32] slamjie commented on #27
@DRAhmadFaraz Sorry about that. I have no idea about SFM. Maybe you can try some visual SLAM algorithms.

[2019-05-21 18:13] DRAhmadFaraz commented on #27
Dear @slamjie

Hope you are fine, I am still working on this Pose-NET approach,
I want to ask one important factor from you, Hope you will help me out.

I have trained successfully this Pose-NET approach successfully on my own dataset,
now for further calculations, I want to extract the "Predicted Poses" for every each corresponding image.

Predicted poses includes [ 7 X 1 ] matrix having 3 values

[2019-05-21 18:15] DRAhmadFaraz opened #33 "Pridected Poses for every corrosponding images"
I want to ask one important factor from you, Hope you will help me out.

I have trained successfully this Pose-NET approach successfully on my own dataset,
now for further calculations, I want to extract the "Predicted Poses" for every each corresponding image.

Predicted poses includes [ 7 X 1 ] matrix having 3 values of Translation and 4 values of Rotation quaternion

I have checked the code pos

[2019-05-21 18:15] DRAhmadFaraz commented on #24
how you extracted these values.??

3117382476.410000 -137672612.290000 -1240777531.790000 0.308042 -0.508641 0.232939 0.769503

[2019-05-22 01:30] slamjie commented on #27
@DRAhmadFaraz
You should change the inputs of `train_posenet.prototxt` like this:
[code]
And write a test script to test the image. There are some demos in caffe. It's easy to get the code about how to send images to net in caffe.

The predicted poses are saved like this:
[code]
Hope these may help you .
: )

[2019-05-27 01:31] wanyiming2017 opened #34 "camera intrinsic of Cambridge landmark"
Could you tell me the camera intrinsic of Cambridge landmark?

[2019-06-04 21:58] abdellaui commented on #25
do you solve this problem? if yes, can you share your workaround?

[2019-07-21 06:50] DRAhmadFaraz commented on #19
@BoltzmannBlitz  @Chen0403  @onion-liu , Have you fixed these issues out using Visual SFM...??

[2019-07-22 13:11] DRAhmadFaraz commented on #9
@colegleason Can you please help me to run this posenet to test it on one image.?

[2019-07-22 13:14] DRAhmadFaraz commented on #8
@ChenhanXmu Can u able to run this posenet to test it on one single image.?

[2019-07-23 00:11] AldrichCabrera opened #35 "Does it work with gray images?"
I have trained the network with 800 epoch using gray images but the prediction is incorrect and the average error is 2,086 m in an interior area of ​​3.5 meters. My question is whether it works with gray images or should I make any changes?

Regards,

[2019-07-23 06:22] DRAhmadFaraz commented on #35
@AldrichCabrera No, It would not work on gray scale images, You should have to put 3 channel RGB image in network.

[2019-07-23 06:27] DRAhmadFaraz commented on #18
@HyperLethalVector can you please tell me, how to calculate the poses using visual SFM for the posenet Grount Truth..??

[2019-07-25 17:44] lijiageng1995 commented on #7
您好我最近也在配置posenet，一直出现问题，可以加一下您的微信咨询下吗，谢谢。
我的微信是：jiushirangnimingbai

[2019-10-21 02:39] feixue94 opened #36 "predicted results on the test cases"
this work is really interesting.
would you mind sharing the predicted results on the test sequences of  7Scenes and Cambridge datasets?
I am not that failiar with caffe.
thank you very much.

[2019-10-29 12:21] johnjin404 opened #37 "is there any solution to reduce the dof from 6d to 3d of PoseNet on some specific pose regression task scenes like indoor flat-ground-moving vehicles？？"

[2020-02-19 09:58] Breezeeeeee opened #38 "import caffe"
Hello,
When I import caffe, it indicates:
 File "/home/breeze/caffe-posenet/python/caffe/pycaffe.py", line 13, in <module>
 from ._caffe import Net, SGDSolver, NesterovSolver, AdaGradSolver, \
ModuleNotFoundError: No module named 'caffe._caffe'

how to solve this?

[2020-09-15 14:26] 315haoge opened #39 "Module 'caffe' has no attribute 'Net'"
Hi, I met some problems.
In the source code of 'test_posenet.py'. When I run the 'python test_posenet.py --model your_model.prototxt --weights your_weights.caffemodel --iter size_of_dataset', it shows AttributeError: module 'caffe' has no attribute 'Net'.
The original code is:
net = caffe.Net(args.model,
                args.weights,
                caffe.TEST)

Could anyone can tell me how to sol

[2020-10-28 17:59] sherwoac commented on #34
this should be the intrinsics, it's the contents of the file cambridge/default.config from the https://github.com/vislearn/LessMore dataset:
#dataset parameters

fl 744.375
xs 0.0
ys 0.0

iw 852
ih 480

#testing parameters

rI 256
rRI 100

rT 10

rdraw 1

[2021-01-15 10:22] Y980401 opened #40 "Hello guys I just want to check if there anyone who perform the whole experiments on Windows?"

[2021-01-27 03:19] dogslover0 commented on #38
did you run "make pycaffe" successfully? Also did you change your pythonpath to guide your python to find the compiled caffe-posenet?

[2021-08-20 09:10] shaoxh opened #41 "cmake failure"
I have make a build file in caffe-posenet.
Then cd build and cmake ..
but error occurs.
Caffe has been successfully built before with no cuda and I set caffe_option in CMakeLists of caffe-posenet project "CPU_ONLY" like "caffe_option(CPU_ONLY  "Build Caffe without CUDA support" OFF) # TODO: rename to USE_CUDA".

The question is why I still get this cuda error message. Please if anyone could help.

[2021-08-20 09:33] shaoxh commented on #41
It turns out my cmake version is low. I have upgrade it to 3.14 and cmake .. is ok.
However,when I did "make " command, error still occurred.

CMake Error at cuda_compile_1_generated_absval_layer.cu.o.Release.cmake:279 (message):
  Error generating file
  /home/godu/Documents/caffe-posenet/build/src/caffe/CMakeFiles/cuda_compile_1.dir/layers/./cuda_compile_1_generated_absval_layer.cu.o

src/caffe/

[2021-08-20 09:49] shaoxh commented on #41
It turns out that caffe in this project is slightly different with the official caffe. So we need to replace some files related to cudnn in caffe-posenet project.
Then I followed instructions of https://github.com/DRAhmadFaraz/PoseNet-Caffe.
Like
Replace ./include/caffe/util/cudnn.hpp with the latest version of cudnn in caffe, the corresponding cudnn.hpp. All files in ./include/caffe/layers that s

[2021-08-20 13:44] shaoxh commented on #38
Hello,
Have you solve your problem?
I can successfully run create_posenet_lmdb_dataset.py but this import caffe error showed up when run test_posenet.py

In my file, the directories are the same in both create_posenet_lmdb_dataset.py  and test_posenet.py.

So I don't know why import caffe couldn't work in test_posenet.py.

[2021-08-20 13:57] shaoxh commented on #41
Oh I finally make it.
I have made some mistakes in compiling this projects. So I am going to comment here for anyone in use.

This project have a caffe itself. So the first step is to do "[cmake ..] and [make all] and [make pycaffe] on your own.
I did not realise it until read some issue. So bad, hopefully project owner could write it somewhere in Readme file.

After I finish building this caffe,

[2021-08-20 13:57] #41 closed

[2021-10-18 13:39] Manchesterunion commented on #39
Hi,Br.did you solve the problem.I met the same problems, and I can't find the Net.py in caffe,Could anyone can tell me why?

[2022-02-04 13:54] lck666666 opened #42 "The meaning of Kingdom dataset vector"
![image](https://user-images.githubusercontent.com/45345893/152540385-f793788f-d16f-4985-9fc0-13adfceb59ba.png)
Is this 1*7 vector has the same meanin as what we can get from Colmap?
![image](https://user-images.githubusercontent.com/45345893/152540546-6aefd3c6-01c2-4d84-8a23-7509824e0a4b.png)

[2022-03-12 14:25] abdulwaheedsoudagar commented on #27
Hello @DRAhmadFaraz , can you please tell me how did you generate the train.txt file,
Thanks.